@{
    ViewBag.Title = "test";
 }

<div id="boxContent" class="bc_container">
    <link href="~/Content/boxContent.css" rel="stylesheet" />
    <section class="bc_one_fourth">
        <figure class="bc_icon">
            <img alt="lightbulb" src="http://biglakesoftware.com/wp-content/uploads/2012/12/lightbulb.png">
        </figure>
        <article class="bc_service">
            <h3> Products, Businesses, Services & People </h3>
            <p>Some text describing the client application.</p>
            <a class="excerpt" target="_self" href="/services">Read More</a>
        </article>
        <article class="bc_spacer"></article>
    </section>
    <section class="bc_one_fourth">
        <figure class="bc_icon">
            <img alt="lightbulb" src="http://biglakesoftware.com/wp-content/uploads/2012/12/lightbulb.png">
        </figure>
        <article class="bc_service">
            <h3> Sharing\Social Media </h3>
            <p>Some text describing the social media aspects of the client.</p>
            <a class="excerpt" target="_self" href="/services">Read More</a>
        </article>
    </section>
    <section class="bc_one_fourth">
        <figure class="bc_icon">
            <img alt="lightbulb" src="http://biglakesoftware.com/wp-content/uploads/2012/12/lightbulb.png">
        </figure>
        <article class="bc_service">
            <h3> Rewards </h3>
            <p>Some text describing the gamification of the review process.</p>
            <a class="excerpt" target="_self" href="/services">Read More</a>
        </article>
    </section>
    <section class="bc_one_fourth">
        <figure class="bc_icon">
            <img alt="lightbulb" src="http://biglakesoftware.com/wp-content/uploads/2012/12/lightbulb.png">
        </figure>
        <article class="bc_service">
            <h3> Improve your customer service </h3>
            <p>Some text describing the pragmatic marketting aspect of the service for businesses.</p>
            <a class="excerpt" target="_self" href="/services">Read More</a>
        </article>
    </section>


</div>
