@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>
<script lang="javascript" type="text/javascript">
    function searchReviews() {
        //alert('hello');
        var result = document.getElementById('tb_searchReviews').value;
        if (result.length >= 3) {
            var url = "/Reviews/Search";
            $.get(url, result, function (data) { $('#searchResults').html(data); });
        }
    }
</script>
<input id="tb_searchReviews" type="text" onkeypress="searchReviews();" />
<div id="searchResults"></div>
<input id="Submit1" type="submit" value="submit" />
